name: Mark stale issues and pull requests

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: 'Dieses Issue wurde als veraltet markiert, da es seit 30 Tagen keine Aktivit채t gab.'
          stale-pr-message: 'Dieser Pull Request wurde als veraltet markiert, da er seit 30 Tagen keine Aktivit채t hatte.'
          close-issue-message: 'Dieses Issue wurde geschlossen, da es seit weiteren 7 Tagen keine Aktivit채t gab.'
          close-pr-message: 'Dieser Pull Request wurde geschlossen, da er seit weiteren 7 Tagen keine Aktivit채t hatte.'
          days-before-stale: 30
          days-before-close: 7
