name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: "Dieses Issue wurde als veraltet markiert, weil es seit 30 Tagen keine Aktivit채t gab."
          stale-pr-message: "Dieser Pull Request wurde als veraltet markiert, weil es seit 30 Tagen keine Aktivit채t gab."
          close-issue-message: "Dieses Issue wurde geschlossen, weil es seit 7 weiteren Tagen keine Aktivit채t gab."
          close-pr-message: "Dieser Pull Request wurde geschlossen, weil es seit 7 weiteren Tagen keine Aktivit채t gab."
          days-before-stale: 30
          days-before-close: 7
